:root{
    --charcoal: #1C1C1C;
    --canvas: #EAE6E0;
    --canvas-dark: #a09481;
    --canvas-darker: #988e7f;
    --canvas-light: #e1d6c7;
    --slate: #535366;
    /* --brandFont: 'Chillax', sans-serif; */
}

@font-face {
    font-family: 'Chillax';
    font-weight: normal;
    font-style: normal;
    src: url('/fonts/Chillax-Regular.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Chillax';
    font-weight: 300; /* Light weight */
    font-style: normal;
    src: url('/fonts/Chillax-Light.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Chillax';
    font-weight: bold;
    font-style: normal;
    src: url('/fonts/Chillax-Bold.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Chillax';
    font-weight: normal;
    font-style: italic;
    src: url('/fonts/Chillax-Italic.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'Chillax';
    font-weight: bold;
    font-style: italic;
    src: url('/fonts/Chillax-BoldItalic.otf') format('opentype');
    font-display: swap;
}

.custom-scrollbar::-webkit-scrollbar {
    margin-top: 2px;
    height: 8px; /* Height for horizontal scrollbar */
}

/* Firefox scrollbar styling */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--canvas-dark) var(--canvas);
}

